<!DOCTYPE html>
<html>
  <head>
    <title>Express Foundation</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600">
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <body>
    <div id="top-bar"></div>

    <div id="wrapper">
      <h1>Shorten Me Maybe?</h1>
      <%- body %>
    </div>
  </body>
</html>
